In [35]:
import sqlalchemy as db
import pandas as pd

In [18]:
engine = db.create_engine('postgresql://localhost/weather')
connection = engine.connect()
metadata = db.MetaData()
historicals = db.Table('historicals', metadata, autoload=True, autoload_with=engine)

In [20]:
historicals

Table('historicals', MetaData(bind=None), Column('datetime', TIMESTAMP(), table=<historicals>, primary_key=True, nullable=False), Column('drybulb', INTEGER(), table=<historicals>), Column('day', INTEGER(), table=<historicals>), Column('dewpoint', INTEGER(), table=<historicals>), Column('hmdx', INTEGER(), table=<historicals>), Column('month', INTEGER(), table=<historicals>), Column('relative_humidity', INTEGER(), table=<historicals>), Column('stn_press_kpa', INTEGER(), table=<historicals>), Column('time', INTEGER(), table=<historicals>), Column('visibility_km', INTEGER(), table=<historicals>), Column('weather', INTEGER(), table=<historicals>), Column('wind_chill', INTEGER(), table=<historicals>), Column('wind_dir_10s_deg', INTEGER(), table=<historicals>), Column('wind_spd_kmh', INTEGER(), table=<historicals>), Column('year', INTEGER(), table=<historicals>), schema=None)

In [26]:
#Equivalent to 'SELECT * FROM historicals'
query = db.select([historicals])

In [27]:
ResultProxy = connection.execute(query)

In [28]:
ResultSet = ResultProxy.fetchall()

In [33]:
df = pd.DataFrame(ResultSet)
df.columns = ResultSet[0].keys()

In [34]:
df.head()

,datetime,drybulb,day,dewpoint,hmdx,month,relative_humidity,stn_press_kpa,time,visibility_km,weather,wind_chill,wind_dir_10s_deg,wind_spd_kmh,year
0,2018-01-01 00:00:00,-17.0,None,-21.0,NaN,None,70.0,102.0,None,None,None,None,None,None,None
1,2018-01-01 01:00:00,-16.0,None,-21.0,NaN,None,69.0,102.0,None,None,None,None,None,None,None
2,2018-01-01 02:00:00,-18.0,None,-22.0,NaN,None,71.0,102.0,None,None,None,None,None,None,None
3,2018-01-01 03:00:00,-19.0,None,-22.0,NaN,None,75.0,102.0,None,None,None,None,None,None,None
4,2018-01-01 04:00:00,-18.0,None,-21.0,NaN,None,75.0,102.0,None,None,None,None,None,None,None